.Step{
    font-size: 18px;
  }
  .co{
    font-size: 22px;
  }
  .b1{
    font-size: 22px;
  }
  p{
    border:solid 1px gray;
    width: 325px;
    padding-bottom: 5px;
    background-color:rgb(156, 190, 220)
  }
  #hi{
    background-color:powderblue;
  }
  .bu{
    font-size: 28px;
}

#check{
    font-size: 30px;
}
.res{
    font-size: 30px;
}
#nemo{
    border:solid 1px gray;
    width: 320px;
}
#nemo2{
  border:solid 1px gray;
  background-color: bisque;

  width: 320px;
}