
    .co{
      font-size: 22px;
    }
    p{
      border:solid 1px gray;
      width: 325px;
      padding-bottom: 5px;
      background-color:rgb(156, 190, 220)
    }
    #hi{
        background-color:powderblue;
      }
    #check1, #check2,#check3,#check4,#check5,#check6, #check7,#check8{
        font-size: 25px;  
    }
    #ch1, #ch2,#ch3,#ch4,#ch5,#ch6, #ch7,#ch8{
        font-size: 25px;  
    }
    #b1, #b2{
        font-size: 25px;
       }
    #a1, #a2{
        font-size: 25px;
        float:left;
    }
    div{
        border: solid 1px gray;
        width:280px;
        margin-left: 10px;
        float:left;
        background-color: cornsilk;
    }
   
   
     
    #check5, #ch5{   /*일간*/
      color:rgb(241, 11, 46);
      
    }
   
    font{
        color:teal;
    }
    #bt2{
      font-weight: bold;
      
      background-color:rgb(196, 239, 206);
      
     }
     #bt1{
      font-weight:normal;
      background-color: rgb(255, 251, 251);
      
     }
   
    
  
  
 
