
    .co{
      font-size: 22px;
    }
    p{
      border:solid 1px gray;
      width: 325px;
      padding-bottom: 5px;
      /*background-color:rgb(156, 190, 220)*/
    }
    
    #bt1{    /*강약*/
      font-weight:normal;
    background-color:rgb(255, 251, 251);
      
     }
    #bt2{   /*용신1*/
      font-weight: bold;
      background-color: rgb(196, 239, 206);
    
   }
   #bt3{    /*용신2*/
    font-weight:normal;
    background-color:rgb(255, 251, 251);
    
   }
  #bt4{   /*육친*/
    font-weight:normal;
    background-color:rgb(255, 251, 251);
  
 }
   nemo{
    border:solid 1px gray;
      width: 325px;
      padding-bottom: 5px;
      background-color:rgb(156, 190, 220)
   }
    
  
  
 
