select{
    font-size: 25px;
    margin-top: 7px;
  }
  #co1{
      color:rgb(25, 97, 230);
      background-color: rgb(197, 235, 188);
      margin-left: 10px;

  }
  #co2{
      color:rgb(13, 31, 65);
      background-color: rgb(242, 224, 110);
  }
  p{
    border:solid 1px gray;
    width: 325px;
    padding-bottom: 5px;
    background-color:rgb(156, 190, 220)
  }