.Step{
  font-size: 18px;
  width: 100px;
  height: 30px;
  
}

.co{
    font-size: 22px;
  }
  #hi{
    background-color:powderblue;
  }
  p{
    border:solid 1px gray;
    width: 325px;
    padding-bottom: 5px;
    background-color:rgb(156, 190, 220)
  }
  .btn_w{
    position: absolute;
    font-size: 16px;
    width:245px;
    height: 25px;
  }
  .btn_w2{
    position: absolute;
    font-size: 16px;
    width:45px;
    height:25px;
  }
  #btn1{
    position: absolute;
    top:195px;
    left:61px;
  }
  #btn2{
    position: absolute;
    top:226px;
    left:61px;
  }
  #btn3{
    position: absolute;
    top:257px;
    left:61px;
  }
  #btn4{
    position: absolute;
    top:289px;
    left:61px;
  }
  #btn5{
    position: absolute;
    top:320px;
    left:61px;
  }
  #btn6{
    position: absolute;
    top:351px;
    left:61px;
  }
  #btn7{
    position: absolute;
    top:382px;
    left:61px;
  }
  #btn8{
    position: absolute;
    top:414px;
    left:61px;
  }
  #btn9{
    position: absolute;
    top:445px;
    left:61px;
  }
  #btn10{
    position: absolute;
    top:476px;
    left:61px;
  }
  #btn11{
    position: absolute;
    top:507px;
    left:61px;
  }
  #btn12{
    position: absolute;
    top:535px;
    left:61px;
  }
  #btn13{
    position: absolute;
    top:563px;
    left:61px;
  }
  #btn14{
    position: absolute;
    top:592px;
    left:61px;
  }
  #btn15{
    position: absolute;
    top:620px;
    left:61px;
  }
  #btn16{
    position: absolute;
    top:649px;
    left:61px;
  }
  #btn17{
    position: absolute;
    top:677px;
    left:61px;
  }
  #btn18{
    position: absolute;
    top:704px;
    left:61px;
  }
  #btn19{
    position: absolute;
    top:731px;
    left:61px;
  }
  #btn20{
    position: absolute;
    top:758px;
    left:61px;
  }
  #btn21{
    position: absolute;
    top:788px;
    left:61px;
  }
  #btn22{
    position: absolute;
    top:815px;
    left:61px;
  }
  #btn23{
    position: absolute;
    top:842px;
    left:61px;
  }
  #btn24{
    position: absolute;
    top:869px;
    left:61px;
  }
  #btn25{
    position: absolute;
    top:897px;
    left:61px;
  }
  #btn26{
    position: absolute;
    top:927px;
    left:61px;
  }
  #btn27{
    position: absolute;
    top:954px;
    left:61px;
  }
  #btn28{
    position: absolute;
    top:981px;
    left:61px;
  }
  #btn29{
    position: absolute;
    top:1011px;
    left:61px;
  }
  #btn30{
    position: absolute;
    top:1042px;
    left:61px;
  }
  #btn31{
    position: absolute;
    top:1072px;
    left:61px;
  }
  #btn32{
    position: absolute;
    top:1103px;
    left:61px;
  }
  #btn33{
    position: absolute;
    top:1134px;
    left:61px;
  }
  #btn34{
    position: absolute;
    top:1164px;
    left:61px;
  }
  #btn35{
    position: absolute;
    top:1194px;
    left:61px;
  }
  #btn36{
    position: absolute;
    top:1224px;
    left:61px;
  }
  #btn37{
    position: absolute;
    top:1255px;
    left:61px;
  }
  #btn38{
    position: absolute;
    top:1285px;
    left:61px;
  }
  #btn39{
    position: absolute;
    top:1316px;
    left:61px;
  }
  #btn40{
    position: absolute;
    top:1345px;
    left:61px;
  }
  #btn41{
    position: absolute;
    top:1380px;
    left:61px;
  }
  #btn42{
    position: absolute;
    top:1408px;
    left:61px;
  }
  #btn43{
    position: absolute;
    top:1436px;
    left:61px;
  }
  #btn44{
    position: absolute;
    top:1462px;
    left:61px;
  }
  #btn45{
    position: absolute;
    top:1490px;
    left:61px;
  }
  #btn46{
    position: absolute;
    top:1518px;
    left:61px;
  }
  #btn47{
    position: absolute;
    top:1545px;
    left:61px;
    width:248px;
  }
  #btn48{
    position: absolute;
    top:1573px;
    left:61px;
  }
  #btn49{
    position: absolute;
    top:1600px;
    left:61px;
  }
  #btn50{
    position: absolute;
    top:1627px;
    left:61px;
  }
  #btn51{
    position: absolute;
    top:1655px;
    left:61px;
  }#btn52{
    position: absolute;
    top:1684px;
    left:61px;
  }#btn53{
    position: absolute;
    top:1712px;
    left:61px;
  }#btn54{
    position: absolute;
    top:1740px;
    left:61px;
  }#btn55{
    position: absolute;
    top:1770px;
    left:61px;
  }#btn56{
    position: absolute;
    top:1798px;
    left:61px;
  }
  #btn57{
    position: absolute;
    top:195px;
    left:308px;
  }
  
  #btn58{
    position: absolute;
    top:226px;
    left:308px;
  }
  #btn59{
    position: absolute;
    top:257px;
    left:308px;
  }
  #btn60{
    position: absolute;
    top:289px;
    left:308px;
  }
  #btn61{
    position: absolute;
    top:320px;
    left:308px;
  }
  #btn62{
    position: absolute;
    top:351px;
    left:308px;
  }
  #btn63{
    position: absolute;
    top:382px;
    left:308px;
  }
  #btn64{
    position: absolute;
    top:414px;
    left:308px;
  }
  #btn65{
    position: absolute;
    top:445px;
    left:308px;
  }
  #btn66{
    position: absolute;
    top:476px;
    left:308px;
  }
  #btn67{
    position: absolute;
    top:507px;
    left:308px;
  }
  #btn68{
    position: absolute;
    top:535px;
    left:308px;
  }
  #btn69{
    position: absolute;
    top:563px;
    left:308px;
  }
  #btn70{
    position: absolute;
    top:592px;
    left:308px;
  }
  #btn71{
    position: absolute;
    top:620px;
    left:308px;
  }
  #btn72{
    position: absolute;
    top:649px;
    left:308px;
  }
  #btn73{
    position: absolute;
    top:677px;
    left:308px;
  }
  #btn74{
    position: absolute;
    top:704px;
    left:308px;
  }
  #btn75{
    position: absolute;
    top:731px;
    left:308px;
  }
  #btn76{
    position: absolute;
    top:758px;
    left:308px;
  }
  #btn77{
    position: absolute;
    top:788px;
    left:308px;
  }
  #btn78{
    position: absolute;
    top:815px;
    left:308px;
  }
  #btn79{
    position: absolute;
    top:842px;
    left:308px;
  }
  #btn80{
    position: absolute;
    top:869px;
    left:308px;
  }
  #btn81{
    position: absolute;
    top:897px;
    left:308px;
  }
  #btn82{
    position: absolute;
    top:927px;
    left:308px;
  }
  #btn83{
    position: absolute;
    top:954px;
    left:308px;
  }
  #btn84{
    position: absolute;
    top:981px;
    left:308px;
  }
  #btn85{
    position: absolute;
    top:1011px;
    left:308px;
  }
  #btn86{
    position: absolute;
    top:1042px;
    left:308px;
  }
  #btn87{
    position: absolute;
    top:1072px;
    left:308px;
  }
  #btn88{
    position: absolute;
    top:1103px;
    left:308px;
  }
  #btn89{
    position: absolute;
    top:1134px;
    left:308px;
  }
  #btn90{
    position: absolute;
    top:1164px;
    left:308px;
  }
  #btn91{
    position: absolute;
    top:1194px;
    left:308px;
  }
  #btn92{
    position: absolute;
    top:1224px;
    left:308px;
  }
  #btn93{
    position: absolute;
    top:1255px;
    left:308px;
  }
  #btn94{
    position: absolute;
    top:1285px;
    left:308px;
  }
  #btn95{
    position: absolute;
    top:1316px;
    left:308px;
  }
  #btn96{
    position: absolute;
    top:1345px;
    left:308px;
  }
  #btn97{
    position: absolute;
    top:1380px;
    left:308px;
  }
  #btn98{
    position: absolute;
    top:1408px;
    left:308px;
  }
  #btn99{
    position: absolute;
    top:1436px;
    left:308px;
  }
  #btn100{
    position: absolute;
    top:1462px;
    left:308px;
  }
  #btn101{
    position: absolute;
    top:1490px;
    left:308px;
  }
  #btn102{
    position: absolute;
    top:1518px;
    left:308px;
  }
  #btn103{
    position: absolute;
    top:1545px;
    left:308px;
  
  }
  #btn104{
    position: absolute;
    top:1573px;
    left:308px;
  }
  #btn105{
    position: absolute;
    top:1600px;
    left:308px;
  }
  #btn106{
    position: absolute;
    top:1627px;
    left:308px;
  }
  #btn107{
    position: absolute;
    top:1655px;
    left:308px;
  }#btn108{
    position: absolute;
    top:1684px;
    left:308px;
  }#btn109{
    position: absolute;
    top:1712px;
    left:308px;
  }#btn110{
    position: absolute;
    top:1740px;
    left:308px;
  }#btn111{
    position: absolute;
    top:1770px;
    left:308px;
  }#btn112{
    position: absolute;
    top:1798px;
    left:308px;
  }
  